<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
<a class="navbar-brand" routerLink="/home">
        <img src="../../assets/imgs/fulllogo_nobuffer.png" alt="Logo" width="200" class="d-inline-block align-text-center">
      </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" routerLink="/p-activities">Journal</a>
        <a class="nav-link" routerLink="/city">Support</a>
        <a class="nav-link" routerLink="/faqs">FAQ's</a>
      </div>
    </div>
  </div>
</nav>



