<div class="faqs">
<h1>FAQ's</h1>

<h3> How Far in Advance Should I Book!? </h3>
<h5><small>In order to give yourself the best deals, one should book 6-8 months before the trip!</small></h5>

<h3> What should I bring on a a long haul flight!?</h3>
<h5><small>Device charger. A travel pillow. A luggage tracker. A blanket or scarf. </small></h5>

<h3> Is it really bad to fly economy on a long haul flight!?</h3>
<h5><small>Pick Your Seat Strategically. Try to pick the seat between business class and Economy to get extra room</small></h5>

<h3> Is it better if I pay for my seat ahead or should I let them and hope for a front seat for free!?</h3>
<h5><small>YES! You'll get more options if you pre-book your seat!</small></h5>

<h3>How Can I Find the Best Travel Deal!? </h3>
<h5><small>Expedia and Google will be your best friends!</small></h5>



<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>How Do I Score an Upgrade!?</h3>
    </div>
    <div class="col">
     <h5><small>Earn airline elite status. Use miles to upgrade. Pay for a last-minute upgrade.</small></h5>
    </div>
  </div>
</div>
<br>


<div class="container text-center">
  <div class="row">
    <div class="col">
   <h3>How Can I Avoid Fees!?</h3>
    </div>
    <div class="col">
     <h5><small>Book your trip as early as possibly, and pay attention to small print when booking.</small></h5>
    </div>
  </div>
</div>
<br>

<div class="container text-center">
  <div class="row">
    <div class="col">
    
<h3>How Can I Find the Best Travel Deal!? </h3>
    </div>
    <div class="col">
    <h5><small>Expedia and Google will be your best friends!</small></h5>
    </div>
  </div>
</div>
<br>
  
    
