<!-- <div class="big-container">
<div class="container text-left left-column">
  <div class="row" *ngFor="let city of cities">
    <div class="col">
      <div class="card">
        <div
          class="card-body"
          [ngClass]="{ 'active-link': activeLinkId === city.id }"
          (click)="activeLinkId = city.id"
          routerLink="/cities/{{ city.id }}">
          <img [src]="city.img" class="card-image" alt="city.image">
          <a routerLink="/cities/{{ city.id }}">{{ city.name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
</div> -->


<!-- ABOVE FROM wayfarer cities.component.html  -->