<body>
  <div class="rleft">
    <div class="row">
      <div class="slide-container">
        <div class="card-wrapper swiper-wrapper">
          <div class="card swiper-slide">
            <div class="image-box">
              <img src="../../assets/imgs/mombasaCamel.png" alt="" />
            </div>
            <div class="profile-details">
              <img src="../../assets/imgs/watercamel.png" alt="" />
              <div class="name-job">
                <h3 class="name">Welcome to Kenya!</h3>
                <h4 class="city">Explore The City Mombasa</h4>
              </div>
            </div>
          </div>
          <br />
          <br />

          <div class="card swiper-slide">
            <div class="image-box">
              <img src="../../assets/imgs/waterflying.png" alt="" />
            </div>
            <div class="profile-details">
              <img src="../../assets/imgs/GrandBaieMauritius.png" alt="" />
              <div class="name-job">
                <h3 class="name">Welcome to Mauritius</h3>
                <h4 class="city">Explore The City Grand Baie</h4>
              </div>
            </div>
          </div>
          <br />
          <br />

          <div class="card swiper-slide">
            <div class="image-box">
              <img src="../../assets/imgs/MaheSeychelles.png" alt="" />
            </div>
            <div class="profile-details">
              <img src="../../assets/imgs/waterflying.png" alt="" />
              <div class="name-job">
                <h3 class="name">Welcome to Seychelles</h3>
                <h4 class="city">Explore The City Mahe</h4>
              </div>
            </div>
          </div>
          <br />
          <br />

          <div class="card swiper-slide">
            <div class="image-box">
              <img src="../../assets/imgs/MasaiMaraHot.png" alt="" />
            </div>
            <div class="profile-details">
              <img src="../../assets/imgs/masaiMaraHotAir.png" alt="" />
              <div class="name-job">
                <h3 class="name">Welcome to Kenya!</h3>
                <h4 class="city">Explore The City Masai Mara</h4>
              </div>
            </div>
          </div>
          <br />
          <br />

          <div class="card swiper-slide">
            <div class="image-box">
              <img src="../../assets/imgs/LaDiguSeyBoat.png" alt="" />
            </div>
            <div class="profile-details">
              <img src="../../assets/imgs/clearboat.png" alt="" />
              <div class="name-job">
                <h3 class="name">Welcome to Seycelles</h3>
                <h4 class="city">Explore The City La Digu</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />

  <div class="left">
    <div class="card mb-13" style="max-width: 540p" style="max-height: 650px">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="https://www.dsluxury.com/2021-lamborghini-urus">
            <img
              src="../../assets/imgs/yellow.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Go Wherever The Road Leads</h5>
            <p class="card-text">Rent Your Luxury Vehicle!</p>
            <small class="text-body-secondary">Ad</small>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="card mb-13" style="max-width: 540p" style="max-height: 650px">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="https://www.fourseasons.com/seychelles/">
            <img
              src="../../assets/imgs/4seasons.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Experience breath taking views</h5>
            <p class="card-text">Four Seasons Resort!</p>
            <p>
              <small class="text-body-secondary">Ad</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="card mb-3" style="max-width: 540p" style="max-height: 650px">
      <div class="row g-0">
        <div class="col-md-4">
          <a
            href="https://www.royalcaribbean.com/?ecid=ps_43700055460433905&country=USA&gad=1&gclid=CjwKCAjw-IWkBhBTEiwA2exyO6DAQzjh6InWAi_wLc7VOpJRlKChUeqP5PSc7HzqzCQ0yIV438JlkRoCR3gQAvD_BwE&gclsrc=aw.ds"
          >
            <img
              src="../../assets/imgs/Screenshot 2023-06-07 at 9.08.32 PM.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Follow Your Sun Shine</h5>
            <p class="card-text">Sail Away Today!</p>
            <p class="card-text">
              <small class="text-body-secondary">Ad</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div>
      <div class="card mb-3" style="max-width: 540p" style="max-height: 650px">
        <div class="row g-0">
          <div class="col-md-4">
            <a
              href="https://www.getyourguide.com/s?locale=en&currency=USD&src=cu&product_id=464599&option_id=829576&et=464599&lc=16&cq_src=google_ads&cq_cmp=19507198948&cq_con=157633746668&cq_term=f%3Atravel_activity%3Alocation%3D%2Fm%2F04gdr&cq_med=&cq_plac=&cq_net=g&cq_pos=&cq_plt=gp&campaign_id=19507198948&adgroup_id=157633746668&target_id=kwd-1125502853992&loc_physical_ms=9021717&match_type=&ad_id=658816887497&keyword=f%3Atravel_activity%3Alocation%3D%2Fm%2F04gdr&ad_position=&feed_item_id=&placement=&device=c&partner_id=CD951&gclid=CjwKCAjw-IWkBhBTEiwA2exyOy_Fz4YHBbfN-iRzxcCusO9_SE2v-WzjMiKb5B6lf1kaBeF5FtP1pBoCnt0QAvD_BwE"
            >
              <img
                src="../../assets/imgs/paris.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Come Feel The Love In Paris</h5>
              <p class="card-text">Get Your Museum Tickets</p>
              <p class="card-text">
                <small class="text-body-secondary">Ad</small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <div>
        <div>
          <div>
            <div
              class="card mb-13"
              style="max-width: 540p"
              style="max-height: 650px"
            >
              <div class="row g-0">
                <div class="col-md-4">
                  <a
                    href="https://www.qatarairways.com/en-us/homepage.html?CID=SXUS23456792M&account=Google-AMERICAS-US-EN-Brand&campaign=US-Brand-Rest-Qatar-EN&adgroup=qatar&term=qatar&&&gclid=CjwKCAjw-IWkBhBTEiwA2exyO9GE6cKqoFjFZzaAiCMvVV2V2VcNaNhEHAogxLYlTWp9e27EkjjHKBoCqFEQAvD_BwE&gclsrc=aw.ds"
                  >
                    <img
                      src="../../assets/imgs/airlineqatar.png"
                      class="img-fluid rounded-start"
                      alt="..."
                    />
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Start Planning Your Next Trip</h5>
                    <p class="card-text">
                      Earn Avios. Book Directly on Qatar Airways™
                    </p>
                    <p class="card-text">
                      <small class="text-body-secondary">Ad</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<div class="foot">
  <p>
    <small>
      ©️ 2023 AirJournal, Inc. All rights reserved
      <a href="https://github.com/NIkkiDC/AirJournal-Angular"
        >Open Source Code</a
      >
    </small>
  </p>
</div>
