<body>
<div class="rleft">
  <div class="row">
    <div class="slide-container">
      <div class="card-wrapper swiper-wrapper">
        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../../assets/imgs/mombasaCamel.png" alt=""  />
          </div>
          <div class="profile-details">
            <img src="../../assets/imgs/watercamel.png" alt="" />
            <div class="name-job">
              <h3 class="name">Welcome to Kenya!</h3>
              <h4 class="city">Explore The City Mombasa</h4>
            </div>
          </div>
        </div>
        <br />
        <br />

        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../../assets/imgs/MasaiMaraHot.png" alt="" />
          </div>
          <div class="profile-details">
            <img src="../../assets/imgs/masaiMaraHotAir.png" alt="" />
            <div class="name-job">
              <h3 class="name">Welcome to Kenya!</h3>
              <h4 class="city">Explore The City Masai Mara</h4>
            </div>
          </div>
        </div>
        <br />
        <br />

        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../../assets/imgs/waterflying.png" alt="" />
          </div>
          <div class="profile-details">
            <img src="../../assets/imgs/GrandBaieMauritius.png" alt="" />
            <div class="name-job">
              <h3 class="name">Welcome to Mauritius</h3>
              <h4 class="city">Explore The City Grand Baie</h4>
            </div>
          </div>
        </div>
        <br />
        <br />

        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../../assets/imgs/MaheSeychelles.png" alt="" />
          </div>
          <div class="profile-details">
            <img src="../../assets/imgs/waterflying.png" alt="" />
            <div class="name-job">
              <h3 class="name">Welcome to Seychelles</h3>
              <h4 class="city">Explore The City Mahe</h4>
            </div>
          </div>
        </div>
        <br />
        <br />

        <div class="card swiper-slide">
          <div class="image-box">
            <img src="../../assets/imgs/LaDiguSeyBoat.png" alt="" />
          </div>
          <div class="profile-details">
            <img src="../../assets/imgs/clearboat.png" alt="" />
            <div class="name-job">
              <h3 class="name">Welcome to Seycelles</h3>
              <h4 class="city">Explore The City La Digu</h4>
            </div>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>

<div class="left">
  <div class="card mb-3" style="max-width: 340px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="../../assets/imgs/Screenshot 2023-06-07 at 9.08.32 PM.png"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Follow Your Sun Shine!</h5>
          <p class="card-text">Book A cruise Today!</p>
          <p class="card-text"><small class="text-body-secondary">Ad</small></p>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div>
    <div class="card mb-3" style="max-width: 340px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../../assets/imgs/paris.png"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Come Feel The Love In Paris</h5>
            <p class="card-text"></p>
            <p class="card-text">
              <small class="text-body-secondary">Ad</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div>
      <div class="card mb-3" style="max-width: 340px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../../assets/imgs/paris.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Come Feel The Love In Paris</h5>
              <p class="card-text"></p>
              <p class="card-text">
                <small class="text-body-secondary">Ad</small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div>
        <div class="card mb-3" style="max-width: 340px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../assets/imgs/clothes.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Choose travel-friendly fabrics.</h5>
                <h4>Pack Light Your catching a flight!</h4>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        </div>
        <br />

        <div>
          <div class="card mb-3" style="max-width: 340px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="../../assets/imgs/suitcase.png"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Roll clothes and pack them first!</h5>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
          </div>
          <br />

          <div class="card mb-13" style="max-width: 340px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="../../assets/imgs/yellow.png"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Go Wherever The Road May Lead</h5>
                  <p class="card-text">
                    <small class="text-body-secondary">Ad</small>
                  </p>
                  <!-- https://www.orbitz.com/Cars?SEMCID=ORBITZ-US.MULTILOBC.GOOGLE.GT-c-EN.CAR&&SEMDTL=a1894432125.b144522330157.r1697bfb28d5ab8c773963f54a96d911b1cfbd4d92c1114243e3d3bc4fad5bb432.d1374550827271.e1c.f1.g1kwd-296005431989.h1e.i1.j19021717.k1.l1g.m1.n1&gad=1&gclid=CjwKCAjw1YCkBhAOEiwA5aN4AUqYhd4WE0xl35Bk_75P-dnXrwdF1vl1TDp5kNgvwhP8Wc9Cd7o9jRoCZAEQAvD_BwE&gclsrc=aw.ds -->
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
</body>
