
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
}

.card {
  background: white;
  border-radius: 8px;
  width: 500px;

}
.card .image-box {
  height: 200px;
  width:500px;
  display: flex;
  align-self: center;
}
.card .image-box img {
width:100%;

}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
.profile-details .city {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}


@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

.left {
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.rleft {
  position: absolute;
  left: -10;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 20px;
}


