
<div class="row">
  <div class="slide-container">
    <div class="card-wrapper swiper-wrapper">
      <div class="card swiper-slide">
        <div class="image-box">
          <img src="../../assets/imgs/mombasaCamel.png" alt="" />
        </div>
        <div class="profile-details">
          <img src="../../assets/imgs/watercamel.png" alt="" />
          <div class="name-job">
            <h3 class="name">Welcome to Kenya!</h3>
            <h4 class="city">Explore The City Mombasa</h4>
          </div>
        </div>
      </div>
      <div class="card swiper-slide">
        <div class="image-box">
          <img src="../../assets/imgs/MasaiMaraHot.png" alt="" />
        </div>
        <div class="profile-details">
          <img src="../../assets/imgs/masaiMaraHotAir.png" alt="" />
          <div class="name-job">
            <h3 class="name">Welcome to Kenya!</h3>
            <h4 class="city">Explore The City Masai Mara</h4>
          </div>
        </div>
      </div>
      <div class="card swiper-slide">
        <div class="image-box">
          <img src="../../assets/imgs/waterflying.png" alt="" />
        </div>
        <div class="profile-details">
          <img src="../../assets/imgs/GrandBaieMauritius.png" alt="" />
          <div class="name-job">
            <h3 class="name">Welcome to Mauritius</h3>
            <h4 class="city">Explore The City Grand Baie</h4>
          </div>
        </div>
      </div>
      <div class="card swiper-slide">
        <div class="image-box">
          <img src="../../assets/imgs/MaheSeychelles.png" alt="" />
        </div>
        <div class="profile-details">
          <img src="../../assets/imgs/waterflying.png" alt="" />
          <div class="name-job">
            <h3 class="name">Welcome to Seychelles</h3>
            <h4 class="city">Explore The City Mahe</h4>
          </div>
        </div>
      </div>
      <div class="card swiper-slide">
        <div class="image-box">
          <img src="../../assets/imgs/LaDiguSeyBoat.png" alt="" />
        </div>
        <div class="profile-details">
          <img src="../../assets/imgs/clearboat.png" alt="" />
          <div class="name-job">
            <h3 class="name">Welcome to Seycelles</h3>
            <h4 class="city">Explore The City La Digu </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next swiper-navBtn"></div>
  <div class="swiper-button-prev swiper-navBtn"></div>
  <div class="swiper-pagination"></div>
</div>
