
<app-header></app-header>
<router-outlet></router-outlet>
<!-- <footer>
  <p>Author: Hege Refsnes</p>
  <p><a href="mailto:hege@example.com">hege@example.com</a></p>
</footer> -->
<footer>

        <div class="social-links d-flex justify-content-center mb-5">
          <a href="https://github.com/NikkiDC" target="_blank">
            <!-- <i class="fa-brands fa-github"></i> -->
          </a>
          <a
            href="https://www.linkedin.com/in/dominique-collins-a8a5b1a5"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </footer>
