:root {
    --branding-color: #d3fbfb;
    --secondary-color: #293056;
    --text-color: #05cbfb;
    --hover-color: #8099ad;
    --clicked-color: #a5acbc;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "poppins", sans-serif;
  }



footer {
  position: absolute;
  bottom: 0;
}

social-links {
    background-color: #05cbfb;
    color: #8099ad;
}