<body>
  <div class="activities">
    <div class="container">
      <div class="postcard">
        <div class="post-image">
          <img
            src="../../assets/imgs/mombasaCamel.png"
            width="170"
            height="80"
          />
        </div>
        <div class="card-body post">
          <h5 class="name">{{ activities[0].name }}</h5>
          <p class="desc">{{ activities[0].description }}</p>
        </div>
      </div>
    </div>
    <br />
    <div class="container">
      <div class="postcard">
        <div class="post-image">
          <img
            src="../../assets/imgs/MasaiMaraHot.png"
            width="170"
            height="80"
          />
        </div>
        <div class="card-body post">
          <h5 class="name">{{ activities[1].name }}</h5>
          <p class="desc">{{ activities[1].description }}</p>
        </div>
      </div>
    </div>
    <br />

    <div class="container">
      <div class="postcard">
        <div class="post-image">
          <img
            src="../../assets/imgs/waterflying.png"
            width="170"
            height="80"
          />
        </div>
        <div class="card-body post">
          <h5 class="name">{{ activities[2].name }}</h5>
          <p class="desc">{{ activities[2].description }}</p>
        </div>
      </div>
    </div>
    <br />

    <div class="container">
      <div class="postcard">
        <div class="post-image">
          <img
            src="../../assets/imgs/MaheSeychelles.png"
            width="170"
            height="80"
          />
        </div>
        <div class="card-body post">
          <h5 class="name">{{ activities[3].name }}</h5>
          <p class="desc">{{ activities[3].description }}</p>
        </div>
      </div>
    </div>
    <br />

    <div class="container">
      <div class="postcard">
        <div class="post-image">
          <img
            src="../../assets/imgs/LaDiguSeyBoat.png"
            width="170"
            height="80"
          />
        </div>
        <div class="card-body post">
          <h5 class="name">{{ activities[4].name }}</h5>
          <p class="desc">{{ activities[4].description }}</p>
        </div>
      </div>
    </div>
  </div>
  <br />

  <!-- 
  break -->

  <div class="city">
    <div class="container">
      <div class="postcard">
        <div class="post-image">
          <img
            src="../../assets/imgs/mombasaCamel.png"
            width="170"
            height="80"
          />
        </div>
        <div class="card-body post">
          <h5 class="name">{{ city[0].name }}</h5>
          <p class="desc">{{ city[0].description }}</p>
        </div>
      </div>
    </div>
    <br />

    <div class="container">
      <div class="postcard">
        <div class="post-image">
          <img
            src="../../assets/imgs/MasaiMaraHot.png"
            width="170"
            height="80"
          />
        </div>
        <div class="card-body post">
          <h5 class="name">{{ city[1].name }}</h5>
          <p class="desc">{{ city[1].description }}</p>
        </div>
      </div>
    </div>
    <br />

    <div class="container">
      <div class="postcard">
        <div class="post-image">
          <img
            src="../../assets/imgs/waterflying.png"
            width="170"
            height="80"
          />
        </div>
        <div class="card-body post">
          <h5 class="name">{{ city[2].name }}</h5>
          <p class="desc">{{ city[2].description }}</p>
        </div>
      </div>
    </div>
    <br />

    <div class="container">
      <div class="postcard">
        <div class="post-image">
          <img
            src="../../assets/imgs/MaheSeychelles.png"
            width="170"
            height="80"
          />
        </div>
        <div class="card-body post">
          <h5 class="name">{{ city[3].name }}</h5>
          <p class="desc">{{ city[3].description }}</p>
        </div>
      </div>
    </div>
    <br />

    <div class="container">
      <div class="postcard">
        <div class="post-image">
          <img
            src="../../assets/imgs/LaDiguSeyBoat.png"
            width="170"
            height="80"
          />
        </div>
        <div class="card-body post">
          <h5 class="name">{{ city[4].name }}</h5>
          <p class="desc">{{ city[4].description }}</p>
        </div>
      </div>
    </div>
  </div>
  <br />
</body>

<router-outlet></router-outlet>
