:root {
    --branding-color: #d3fbfb;
    --secondary-color: #293056;
    --text-color: #05cbfb;
    --hover-color: #8099ad;
    --clicked-color: #a5acbc;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "poppins", sans-serif;
  }

    /* This is for the first H2 */
  .infohome {
font-family:'Courier New', Courier, monospace;
color: #05cbfb;
font-weight: bold;
margin-top: 20%;
}

/* This is for the second H2 */
.infohome1 {
font-family:'Courier New', Courier, monospace;
color:#085948;
font-weight: bold;
}

/* This is for the p tags  */

.phome {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1c5447
}