<!-- 
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="title">
        <h2 class="infohome">Name Of City</h2>
        <h2 class="infohome1">Name Of country</h2>
      </div>
      <div class="topic-info">
        <p class="phome">
        Description of the city! 
        </p>
      </div>
    </div>
    <div class="col">
      <div class="title">
        <h2 class="infohome">Name Of City</h2>
        <h2 class="infohome1">Name Of country</h2>
      </div>
      <div class="topic-info">
        <p class="phome">
          Description of the city!
        </p>
      </div>
    </div>
    <div class="col">
      <div class="title">
        <h2 class="infohome">Name Of City</h2>
        <h2 class="infohome1">Name Of country</h2>
      </div>
      <div class="topic-info">
        <p class="phome">
        Description of the city!
        </p>
      </div>
    </div>
  </div>
</div> -->
